## **What is the most optimal skill to learn for Data Analysts?**

#### Methodology
1. Continue from last notebook to find percent of postings with skill
2. Visualize median salary vs percent skill demand
3. Determine if certain technologies are more prevalent

#### Import Libraries and Data

In [7]:
# Importing Libraries
import ast
import pandas as pd
import seaborn as sns
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

#### Clean Data

In [8]:
df_DA_US = df[(df['job_title_short'] == 'Data Analyst') & (df['job_country'] == 'United States')].copy()

# Drop NaN values from the 'salary_year_avg' column for accurate visualization
df_DA_US = df_DA_US.dropna(subset=['salary_year_avg'])

df_DA_US_exploded = df_DA_US.explode('job_skills')

df_DA_US_exploded[['salary_year_avg', 'job_skills']].head(5)

     salary_year_avg job_skills
109          89000.0     python
109          89000.0          r
109          89000.0    alteryx
109          89000.0    tableau
180          90250.0      excel

#### Calculate Percent of Job Postings that Have Skills

In [9]:
#using df_DA to find the count of skills and also median salary for each skill
df_DA_skills =df_DA_US_exploded.groupby('job_skills')['salary_year_avg'].agg(['count', 'median']).sort_values(by='count', ascending=False)

df_DA_skills = df_DA_skills.rename(columns={'count': 'skill_count', 'median': 'median_salary'})

DA_job_count = len(df_DA_US)  # Find count of Data Analyst jobs in US with salary info

df_DA_skills['skill_percent'] = df_DA_skills['skill_count'] / DA_job_count * 100

df_DA_skills = df_DA_skills[df_DA_skills['skill_count'] > 0]

df_DA_skills

            skill_count  median_salary  skill_percent
job_skills
sql                2508        91000.0      57.655172
excel              1808        84392.0      41.563218
python             1431        97500.0      32.896552
tableau            1364        92875.0      31.356322
sas                 926        90000.0      21.287356
...                 ...            ...            ...
couchbase             1       160515.0       0.022989
chainer               1       100000.0       0.022989
chef                  1        85000.0       0.022989
cordova               1       113269.5       0.022989
node.js               1        83500.0       0.022989

[170 rows x 3 columns]

#### Median Salary Vs Percent Skill Demand

In [ ]:
#filtering skills that have skill percent > 5%
skill_limit = 5
df_DA_skills_high_demand = df_DA_skills[df_DA_skills['skill_percent'] > skill_limit]
df_DA_skills_high_demand

            skill_count  median_salary  skill_percent
job_skills
sql                2508       91000.00      57.655172
excel              1808       84392.00      41.563218
python             1431       97500.00      32.896552
tableau            1364       92875.00      31.356322
sas                 926       90000.00      21.287356
r                   893       92500.00      20.528736
power bi            838       90000.00      19.264368
powerpoint          462       85000.00      10.620690
word                461       81194.75      10.597701
sql server          286       92500.00       6.574713
oracle              274       96923.75       6.298851
go                  224       90000.00       5.149425

#### Plotting to visualize relationship between the percentage of Data Analyst jobs that require specific skills and the median salary for those skills.

In [ ]:
from adjustText import adjust_text

plt.scatter